<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Blogs Page</title>
</head>
<body>
    <h1>This is the blog page view</h1>
    <div>

    <h2>{{ blog_counter }} blog{{ blog_counter|pluralize}} listed in total</h2>
        {% for x in blog %}
        <div class="container">
            <a href="{% url 'blog:detail' x.id %}"><h1>{{x.title}}</h1></a>
            <p>{{ x.description|striptags|truncatechars:125 }}</p>
            <p>Date Created: {{x.date|date:'d M Y'}} </p>

            {% if x.url %}
            <a href="{{x.url}}" target="_blank">Link to full article</a>
            {% endif %}
        </div>
        {% endfor%}
    </div>
</body>
</html>